<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724234866853-le5btmudihavr5vqsdl5dfb9j64tblbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724234866853-le5btmudihavr5vqsdl5dfb9j64tblbf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>724234866853-if3j9nn3sjcr1omcmd3gcmc1v7g54umk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAL0G0FRowzpU_nkHxCcxZVx-iAzpgQgY0</string>
	<key>GCM_SENDER_ID</key>
	<string>724234866853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locationtracker</string>
	<key>PROJECT_ID</key>
	<string>locationtrackingtest-64e15</string>
	<key>STORAGE_BUCKET</key>
	<string>locationtrackingtest-64e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724234866853:ios:1fa9a5d856b676a3ddbd4c</string>
</dict>
</plist>